# List Products & Measurements

Now you have a working datacube with some data in it let's start doing some real work.

Every datacube program beings the same way, by importing the datacube library.
Whilst we are at it we'll also import some aditional libraries and set some parameters to ensure our pandas tables display nicely in the notebook (you might recall we mentioned this would be a cell you see often in the tutorials in 01 - Getting Started)

In [1]:
# A jupyter magic to ensure out matploblib displays are inline in the notebook
%matplotlib inline
# Import pandas and set some parameters so the cells display nicely in our notebook
import pandas
pandas.set_option('display.max_colwidth', 200)
pandas.set_option('display.max_rows', None)

In [2]:
# import the datacube - really quite obvious
import datacube

/home/jovyan/.local/lib/python3.6/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

Now we create our first datacube object so we can findout what products are in the datacube, load data and do stuff...`dc` will be the object which provides our connection to the datacube

In [3]:
dc = datacube.Datacube()

## List Products
We can get all the products this datacube supports as a `pandas DataFrame`. Just because a datacube supports a product doesn't mean the data exists. It means it can contain this type of data.

In [4]:
products = dc.list_products()

First lets check what information is available, there are quite a lot of columns

In [5]:
products.columns.tolist()

['name',
 'description',
 'creation_time',
 'instrument',
 'product_type',
 'time',
 'lon',
 'lat',
 'format',
 'label',
 'platform',
 'crs',
 'resolution',
 'tile_size',
 'spatial_dimensions']

We don't want to see most of these columns, so we will limit the `DataFrame` to just a few:

In [6]:
display_columns = ['name', 'description', 'platform', 'instrument', 'crs', 'resolution']

products[display_columns]

,name,description,platform,instrument,crs,resolution
id,,,,,,
1,ls8_usgs_sr_scene,Landsat 8 USGS Collection 1 Higher Level SR scene proessed using LaSRC. 30m UTM based projection.,LANDSAT_8,OLI_TIRS,NaN,NaN

You can also supply a boolean vector to filter these further by row content. We will filter just those rows that have a name of `ls8_usgs_sr_scene`

In [7]:
products[products['name'] == 'ls8_usgs_sr_scene'][display_columns]

,name,description,platform,instrument,crs,resolution
id,,,,,,
1,ls8_usgs_sr_scene,Landsat 8 USGS Collection 1 Higher Level SR scene proessed using LaSRC. 30m UTM based projection.,LANDSAT_8,OLI_TIRS,NaN,NaN

___Play tip:___ _Pandas is a very powerful library and can do a lot more than described above. You can find more information at pandas.pydata.org._

## List Measurements

Each product type will contain a range of measurements that it supports e.g. optical bands, pixel quality, etc. Let's take a look at what is available for one of our product types:

In [8]:
# Get the measurements
measurements = dc.list_measurements()
# Let's look at all of the available measurement attributes in raw form
measurements.columns.tolist()

['aliases', 'dtype', 'flags_definition', 'name', 'nodata', 'units']

In [9]:
# We can restrict which measurement attributes are displayed to reduce clutter
display_columns = ['units', 'nodata', 'aliases']
measurements[display_columns]

                                         units  nodata  \
product           measurement
ls8_usgs_sr_scene coastal_aerosol  reflectance   -9999
                  blue             reflectance   -9999
                  green            reflectance   -9999
                  red              reflectance   -9999
                  nir              reflectance   -9999
                  swir1            reflectance   -9999
                  swir2            reflectance   -9999
                  pixel_qa           bit_index       1
                  sr_aerosol         bit_index       0
                  radsat_qa          bit_index       1

                                                                aliases
product           measurement
ls8_usgs_sr_scene coastal_aerosol                    [band_1, sr_band1]
                  blue                               [band_2, sr_band2]
                  green                              [band_3, sr_band3]
                  red                                [band_4, sr_band4]
                  nir                                [band_5, sr_band5]
                  swir1                              [band_6, sr_band6]
                  swir2                              [band_7, sr_band7]
                  pixel_qa                                   [pixel_qa]
                  sr_aerosol       [sr_aerosol_qa, aerosol_qa, aerosol]
                  radsat_qa                                 [radsat_qa]

We can look at the measurements for just one product, such as `ls8_usgs_sr_scene`:

In [10]:
measurements[display_columns].loc['ls8_usgs_sr_scene']

                       units  nodata                               aliases
measurement
coastal_aerosol  reflectance   -9999                    [band_1, sr_band1]
blue             reflectance   -9999                    [band_2, sr_band2]
green            reflectance   -9999                    [band_3, sr_band3]
red              reflectance   -9999                    [band_4, sr_band4]
nir              reflectance   -9999                    [band_5, sr_band5]
swir1            reflectance   -9999                    [band_6, sr_band6]
swir2            reflectance   -9999                    [band_7, sr_band7]
pixel_qa           bit_index       1                            [pixel_qa]
sr_aerosol         bit_index       0  [sr_aerosol_qa, aerosol_qa, aerosol]
radsat_qa          bit_index       1                           [radsat_qa]

As you can see the measurements information includes not only the name of the attributes available but also the nodata values, and possible aliases which can be used to access the same attribute.

Or we can look at a list of them:

In [11]:
product_list = products.name.tolist()
product_list

['ls8_usgs_sr_scene']

In [12]:
measurements[display_columns].loc[product_list]

                                         units  nodata  \
product           measurement
ls8_usgs_sr_scene coastal_aerosol  reflectance   -9999
                  blue             reflectance   -9999
                  green            reflectance   -9999
                  red              reflectance   -9999
                  nir              reflectance   -9999
                  swir1            reflectance   -9999
                  swir2            reflectance   -9999
                  pixel_qa           bit_index       1
                  sr_aerosol         bit_index       0
                  radsat_qa          bit_index       1

                                                                aliases
product           measurement
ls8_usgs_sr_scene coastal_aerosol                    [band_1, sr_band1]
                  blue                               [band_2, sr_band2]
                  green                              [band_3, sr_band3]
                  red                                [band_4, sr_band4]
                  nir                                [band_5, sr_band5]
                  swir1                              [band_6, sr_band6]
                  swir2                              [band_7, sr_band7]
                  pixel_qa                                   [pixel_qa]
                  sr_aerosol       [sr_aerosol_qa, aerosol_qa, aerosol]
                  radsat_qa                                 [radsat_qa]

# Run this cell to create a button to show/hide error messages

In [13]:
from IPython.display import HTML

HTML('''<script>
code_show_err=false; 
function code_toggle_err() {
 if (code_show_err){
 $('div.output_error').hide();
 $('div.output_stderr').hide();
 } else {
 $('div.output_error').show();
 $('div.output_stderr').show();
 }
 code_show_err = !code_show_err
} 
$( document ).ready(code_toggle_err);
</script>
<form action="javascript:code_toggle_err()"><input type="submit" value="Click here to toggle on/off the error output."></form>''')